.read {
  background-color: rgba(128, 128, 128, 0.247);
}

.active-filter {
  background-color: rgba(128, 128, 128, 0.247);
}
.active {
  background-color: rgba(128, 128, 128, 0.247);
}
.starred {
  background-color: khaki;
}
.compose-btn {
  width: 100px;
}
.search-bar {
  height: 30px;
}

.side-filters button {
  padding: 10px;
  border: none;
  text-align: left;
  border-top-right-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
  /* margin-bottom: 10px; */
  /* justify-self: ; */
  /* justify-self: stretch; */
  /* width: 200px; */
  /* width: 100%; */
}
