.active-filter,
.read {
  background-color: rgba(128, 128, 128, 0.247);
}
.active {
  background-color: #c5d2a263;
}
.starred {
  color: #ca9e5b;
}
.star-btn {
  margin-left: 8px;
}
.side-filters button {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border: none;
  text-align: left;
  border-top-right-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
  font-size: 18px;
}
button i {
  opacity: 0.5;
}
.prev-btns {
  justify-self: end;
}
.prev-btns button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
