.read {
  background-color: rgba(128, 128, 128, 0.247);
}

.active-filter {
  background-color: rgba(128, 128, 128, 0.247);
}
.active {
  background-color: rgba(128, 128, 128, 0.247);
}
.starred {
  background-color: khaki;
}
.email-compose {
  position: absolute;
  width: 70%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: lightcoral;
}
